%h1 Редактирование

= render 'form'

= link_to @post, class: 'nav-link', class: 'btn btn-outline-dark'  do
    .fas.fa-scroll
    Показать
&nbsp;&nbsp;|&nbsp;	
= link_to posts_path, class: 'nav-link', class: 'btn btn-outline-dark'  do
    .fas.fa-route
    Вернуться
