
.container
  .row
    .col-lg-8
      - @posts.each do |post|
        = render 'posts/post', post: post
    .col-sm-4  
      .card-md-4       
        .card-body Поиск:
        .input-group.rounded
          %input.form-control.rounded{"aria-describedby" => "search-addon", "aria-label" => "Search", :placeholder => "Поиск по тегу", :type => "search"}/
          %span#search-addon.input-group-text.border-0
            %i.fas.fa-search
    = paginate @posts
    %br
    %br