.container
  .row
    .col-lg-6
      %p
        Добро пожаловать #{@resource.email}!
      %p Кто-то запросил ссылку для изменения вашего пароля. Вы можете сделать это по ссылке ниже.
      %p= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
      %p Если это были не вы, то игнорируйте это сообщение
      %p Ваш пароль не будет изменен, пока вы не перейдете по ссылке выше и не создадите новый.
