.container
  .row
    .col-lg-6
      %p
        Добро пожаловать #{@resource.email}!
      %p Ваша учетная запись заблокирована из-за слишком большого количества неудачных попыток входа.
      %p Используйте ссылку ниже для разблокировки вашей учетной записи
      %p= link_to 'Разблокировать учетную запись', unlock_url(@resource, unlock_token: @token)
